/* Header */
.header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: fixed;
  width: calc(100% - 260px);
  top: 0;
  z-index: 10;
  background-color: #f5f7fb;
}

.layout.collapsed .header {
  width: calc(100% - 80px);
}

.header-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.menu-btn {
  background: none;
  border: none;
  cursor: pointer;
}

button.menu-btn,
.search svg {
  color:#0f1d3a;
}

.brand {
  font-weight: 600;
  font-size: 18px;
}

.header-center {
  padding: 6px 20px;
  border-radius: 12px;
  background: #fffcb0;
  font-size: 14px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.search {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  background: #fff;
  height: 35px;
  border-radius: 5px;
  filter:
    drop-shadow(0 2px 30px rgba(0, 0, 0, 0.12))
    drop-shadow(0 0px 0px rgba(0, 0, 0, 0.10));

}

.search input {
  border: none;
  outline: none;
}

/* Content */
.content {
  margin-top: 50px;
  padding: 20px;
}

.header-icon,
.user-icon,button.menu-btn {
  background: #fff !important;
  border-radius: 5px;
  box-shadow: none;
  color: #172b4c;      
  font-size: 16px;
  cursor: pointer;
  padding: 14.5px;
  filter:
    drop-shadow(0 2px 30px rgba(0, 0, 0, 0.12))
    drop-shadow(0 0px 0px rgba(0, 0, 0, 0.10));
}

